@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Aplica el estilo y la animación al nav */
nav {
  width: 90%;
  height: 60px;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.8); /* Fondo semi-transparente */
  border-radius: 30px; /* Bordes redondeados */
  margin: 20px auto; /* Centramos el nav con margen superior */
  display: flex;
  justify-content: space-around; /* Espacio entre los elementos */
  align-items: center;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Sombra */
  /* Añadir la animación */
  animation: slideDown 0.5s ease-out;
}

nav a {
  color: white; /* Color de los enlaces */
  font-size: 1.2rem; /* Tamaño de la fuente */
  text-decoration: none; /* Sin subrayado */
  margin: 0 15px; /* Espaciado entre enlaces */
  font-family: "Montserrat", sans-serif; /* Fuente */
  text-transform: uppercase; /* Texto en mayúsculas */
  position: relative; /* Necesario para el efecto de desplazamiento */
}

nav a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: rgb(255, 115, 0); /* Color de subrayado */
  left: 0;
  bottom: -5px;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

nav a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

nav a:hover {
  transition: color 0.3s ease-out;
  color: rgb(255, 115, 0); /* Color al pasar el mouse */
}
