@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Aplica el estilo y la animaci칩n al nav */
nav {
  width: 100%;
  height: 50px;
  backdrop-filter: blur(10px);
  background-color: rgb(0, 0, 0);
  border-radius: 50px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  /* A침adir la animaci칩n */
  animation: slideDown 0.5s ease-out;
}

nav a {
  color: white; /* Hereda el color del elemento padre */
  font-size: 1.3rem;
  text-decoration: none;
  margin-left: 35px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

a:hover {
  transition: 0.2s;
  color: rgb(255, 115, 0);
}
/* Para pantallas de 480px o menos (m칩viles) */
@media (max-width: 480px) {
  nav a {
    font-size: 1rem;
  }
}
